.headline1 {
  color: cornflowerblue;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.headline2 {
  margin-top: 10px;
  color: darkgoldenrod;
  margin-bottom: 20px;

}

.headline3 {
  margin-top: 10px;
  color: rebeccapurple;
  margin-bottom: 20px;
}

.furrari {
  color: firebrick;
}

.authors {
  font-family: fantasy;
}